.image {
    height: 500px;
    width: 100%;
    margin: auto;
    /* position: relative; */
    left: 0;
  }
  
  .one,
  .two,
  .three {
    position: absolute;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -18;
    opacity: 0;
    animation-name: fade;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  
  .one {
    animation-delay: 0s;
  }
  .two {
    animation-delay: 4s;
  }
  .three {
    animation-delay: 8s;
  }
  
  @keyframes fade {
    /* By offsetting the fade out and animating z-index, we can prevent the background from showing up at all*/
    00.00% {
      opacity: 0;
      z-index: -10;
    }
    06.25% {
      opacity: 0.7;
      z-index: -10;
    }
    31.25% {
      opacity: 0.7;
      z-index: -12;
    }
    37.50% {
      opacity: 0;
      z-index: -14;
    }
    100.0% {
      opacity: 0;
      z-index: -16;
    }
  }
  
  /* TEXT ON SLIDESHOW */
  #text {
    position: absolute;
    top: 400px;
    left: 150px;
    border: 4px bold black;
    /* background: transparent; */
  }
  #hallText{
    font-family: "70px";
     color:"white";
     font-weight: 400;
    border:"2px bold #112d32"
  }
  
  #textMain{
    /* font-family: Impact, Charcoal, sans-serif; */
    font-family: pesta-roasting;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 8px 8px 10px;
    font-variant: small-caps;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    text-decoration: none;
    -webkit-text-stroke: 1px #112d32;
  }
  
  /* ARROW */
  
  .scroll-down {
    position: absolute;
    left: 50%;
    top: 500px;
    bottom: 10px;
    display: block;
    text-align: center;
    font-size: 40px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 33px;
    height: 33px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    z-index: 9;
    
    animation-timing-function: linear;
  
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 1s ease-in-out infinite;
    -moz-animation:    fade_move_down 1s ease-in-out infinite;
    animation:         fade_move_down 1s ease-in-out infinite;
  }
  
  
  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-20px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,20px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-20px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,20px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-20px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,20px) rotate(45deg); opacity: 0; }
  }
  
  