.image1 {
    height: 500px;
    width: 100%;
    margin: auto;
    /* position: relative; */
    left: 0;
  }
  .images1{
    top: 0;
    margin-top: 0;
  }
  .one1,
  .two1,
  .three1 {
    position: absolute;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -18;
    opacity: 0;
    animation-name: fade;
    animation-duration: 24s;
    animation-iteration-count: infinite;
  }
  
  .one1 {
    animation-delay: 0s;
  }
  .two1{
    animation-delay: 8s;
  }
  .three1 {
    animation-delay: 16s;
  }
  
  @keyframes fade {
    /* By offsetting the fade out and animating z-index, we can prevent the background from showing up at all*/
    00.00% {
      opacity: 0;
      z-index: -10;
    }
    06.25% {
      opacity: 1;
      z-index: -10;
    }
    31.25% {
      opacity: 1;
      z-index: -12;
    }
    37.50% {
      opacity: 0;
      z-index: -14;
    }
    100.0% {
      opacity: 0;
      z-index: -16;
    }
  }
  
 
  
 
  
  .image1 {
    height: 500px;
    width: 100%;
    margin: auto;
    /* position: relative; */
    left: 0;
  }
  
  .one1,
  .two1,
  .three1 {
    position: absolute;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -18;
    opacity: 0;
    animation-name: fade;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  
  .one1 {
    animation-delay: 0s;
  }
  .two1 {
    animation-delay: 4s;
  }
  .three1 {
    animation-delay: 8s;
  }
  
  @keyframes fade {
    /* By offsetting the fade out and animating z-index, we can prevent the background from showing up at all*/
    00.00% {
      opacity: 0;
      z-index: -10;
    }
    06.25% {
      opacity: 1;
      z-index: -10;
    }
    31.25% {
      opacity: 1;
      z-index: -12;
    }
    37.50% {
      opacity: 0;
      z-index: -14;
    }
    100.0% {
      opacity: 0;
      z-index: -16;
    }
  }
  
  #text {
    position: absolute;
    top: 400px;
    left: 150px;
    border: 4px bold black;
    /* background: transparent; */
  }
  #hallText{
    font-family: "70px";
     color:"white";
     font-weight: 400;
    border:"2px bold #112d32"
  }
  
  #textMain{
    /* font-family: Impact, Charcoal, sans-serif; */
    font-family: pesta-roasting;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 8px 8px 10px;
    font-variant: small-caps;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    text-decoration: none;
    -webkit-text-stroke: 1px #112d32;
  }